.spinner {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border-style: dashed;
    border-width: 5px;
    display: none;
    border-color: transparent #333 transparent #333;
    animation: rotate 2s ease-out infinite;
}
@keyframes rotate {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}